body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

label {
    width: 100%;
    margin-bottom: 10px;
    color: #555;
}

input[type="text"],
input[type="date"],
input[type="number"],
select {
    width: calc(50% - 20px);
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #4CAF50;
    color: rgb(29, 27, 27);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

@media (max-width: 600px) {
    input[type="text"],
    input[type="date"],
    input[type="number"],
    select {
        width: 100%;
    }
}
